    <!-- Gallery -->
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
          <img
            src="../../assets/5.png"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water"
          />
      
          <img
            src="../../assets/7.png"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Wintry Mountain Landscape"
          />
        </div>
      
        <div class="col-lg-4 mb-4 mb-lg-0">
          <img
            src="../../assets/8.png"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Mountains in the Clouds"
          />
      
          <img
            src="../../assets/9.png"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water"
          />
        </div>
      
        <div class="col-lg-4 mb-4 mb-lg-0">
          <img
            src="../../assets/1.png"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Waves at Sea"
          />
      
          <img
            src="../../assets/10.png"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Yosemite National Park"
          />
        </div>
      </div>
      <!-- Gallery -->