 
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Asignatura</th>
      <th scope="col">Email</th>
      <th scope="col">Imagen</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let asignatura of Asignaturas">
      <th scope="row">{{asignatura.id}}</th>
      <td>{{asignatura.Nombre}}</td>
      <td>{{asignatura.Asignatura}}</td>
      <td>{{asignatura.Email}}</td>
      <td>
        <img src="../../assets/{{asignatura.Imagen}}" width="30px" class="img-fluid" alt="{{asignatura.nombre}}">
      </td>
    </tr>
  </tbody>
</table>
<!-- <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <h3>Lenguaje</h3>
      <div class="card h-100">
        <img src="../../assets/anonimo.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Acto de Inauguración</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Autor: Paula Rojas </small>
        </div>
      </div>
    </div>
    <div class="col">
        <h3>Matematicas </h3>
      <div class="card h-100">
        <img src="../../assets/anonimo.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Remodelacion del Patio Interior</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Autor: Alejandro Reyes</small>
        </div>
      </div>
    </div>
    <div class="col">
        <h3>Historia</h3>
      <div class="card h-100">
        <img src="../../assets/anonimo.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pabellon Basica</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Autor: Margarita Fredes</small>
        </div>
      </div>
    </div> -->