#historia{
    background-color: rgb(231, 202, 157);
}
#nuestrahistoria{
    font-family: 'Times New Roman', Times, serif;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px, rgb(38, 57, 77) 0px 0px 30px 3px;
    font-style: oblique;
}
#nuestravision{
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#nuestramision{
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}