<div id="historia">
<div id="nuestrahistoria">
    <h2>NUESTRA HISTORIA</h2>
    <p>
        Nuestro colegio tiene una larga historia que se comienza a forjar en los  terrenos ubicados en la antigua cañada de la cuidad de Santiago. El P. Miguel Rúa, primer sucesor de Don Bosco, tras la insistencia del arzobispo de Santiago, Don Mariano Casanova, da cumplimiento a la promesa del Santo y envía a los salesianos al entonces llamado “Asilo de la Patria”, templo del pueblo de Chile en agradecimiento a Dios por la paz obtenida tras la Guerra del Pacífico. Es así como los salesianos de Don Bosco toman posesión el 14 de Noviembre de 1891 de la obra ya ubicada en la esquina de Alameda con Ricardo Cumming   en  el  centro de la cuidad de  Santiago.
    </p>
    <p>
        El primer director fue el Padre Domingo Tomatis, alumno de Don Bosco en el oratorio de Turín, junto a otros nueve salesianos. La Gratitud Nacional fue inaugurada oficialmente el 6 de enero de 1892 con la asistencia del presidente de la República de la época Don Jorge Montt, y el Obispo Mons. Juan Cagliero el Obispo de Ancud don Juan Lucero.
    </p>
    <p>
        Dada la demanda de liceos en Chile,  el año 1929 inicia sus funciones oficialmente el Liceo Juan Bosco, creando el primer ciclo de humanidades, entregando formación como  complemento a la formación técnica.  
    </p>
    <p>
        En 1944 se da inicio al segundo ciclo de humanidades y en 1946 se inauguró el Auditórium Don Bosco y en 1956 se construyó un edificio de cuatro pisos para una librería y la casa de la comunidad religiosa.
    </p>
    <p>
        En el deseo de responder a los nuevos tiempos y a las orientaciones de la Congregación Salesiana, el año 2008 el colegio se fusiona bajo la denominación Centro Educativo Salesianos Alameda, entregando el servicio educativo en dos modalidades como escuela de subvención compartida, dejando los históricos nombres de La Gratitud Nacional y Liceo Juan Bosco, en la memoria fidedigna del tiempo.
    </p>
    <p>
        En la actualidad el Centro Educativo Salesianos Alameda Educativo entrega servicios de formación en las modalidades: Humanista Científico y Técnico Profesional en las especialidades Mecánica Industrial, electricidad, Electrónica y Telecomunicaciones.
    </p>
    <p>
        Es un colegio particular subvencionado con Jornada Escolar Completa, con un promedio de 1750 alumnos provenientes de la gran mayoría de las comunas de Santiago.
    </p>
</div>
<br>
<div id="nuestravision">    
    <h2>
        NUESTRA VISIÓN
    </h2>
    <P>
        Como Comunidad Educativa Pastoral Salesianos Alameda, fieles a Don Bosco fundador, nos proponemos educar y evangelizar, a niños y jóvenes, especialmente aquellos en situación de riesgo, siguiendo un proyecto de promoción integral del hombre. La finalidad fundamental de nuestra comunidad educativa pastoral consiste en desarrollar a niños y jóvenes teniendo como modelo de vida a Jesucristo, clave de sentido, felicidad y plenitud. Como escuela nos proponemos entregar una formación integral, enfatizando el desarrollo de las diversas competencias que les permitan insertarse en forma progresiva, activa y transformadora, en la sociedad.
    </P>
</div>
<br>
<div id="nuestramision">
    <h2>
        NUESTRA MISIÓN
    </h2>
    <P>
        Soñamos con construir una escuela de calidad donde niños y jóvenes puedan desarrollar su proyecto de vida, desde la vivencia de la propuesta educativa salesiana, aspirando a formar “Buenos Cristianos y Honestos Ciudadanos “.
    </P>
    <!--<h2>
        PRINCIPIOS
    </h2>
    <ul>
        <li>Somos una Comunidad Educativa-Pastoral Salesiana y ponemos a los alumnos en el centro de nuestra preocupación y trabajo.</li>
        <li>Consideramos que Cristo es el modelo de hombre perfecto y lo anunciamos a cada uno de nuestros alumnos, promoviendo su encuentro con él, la profundización de su conocimiento,  amistad y el desarrollo de los valores evangélicos.</li>
        <li>Educamos según el sistema pedagógico de Don Bosco y hacemos de la centralidad de la razón, de la fe y de la bondad los pilares fundamentales de nuestra acción.</li>
        <li>Promovemos una formación integral con espíritu crítico, creativo y reflexivo, enfatizando el desarrollo de aptitudes y habilidades cognitivas, afectivas, sicomotrices y sociales, acorde a las innovaciones que se presentan en el campo educativo.</li>
        <li>Creemos en el valor de la comunidad como experiencia de Iglesia y nos identificamos con un modelo de gestión participativa y corresponsable.</li>
        <li>Ayudamos a cada uno de nuestros alumnos a enfrentar su futuro con responsabilidad y generosidad, a escuchar la voz del Señor que le invita a ser protagonista en su proyecto de salvación como hombre o mujer y  a discernir su vocación específica.</li>    
    </ul>-->
</div>
<br><br>
</div>
